# --- Micro Editor Junk ---
/config/micro/backups/
/config/micro/buffers/
/config/micro/targets/

# --- Oh-My-Zsh Junk ---
# Ignore the large zcompdump files that Zsh generates on every boot
.zcompdump*
.zsh_history

# --- System & OS Junk ---
.thumbnails/
.Thumbnails/
Thumbs.db
Desktop.ini
.DS_Store

# --- Common Linux trash ---
*~
*.swp
*.tmp
