# --- Micro Editor Junk ---
# Ignore internal backups and state files
config/micro/backups/
config/micro/buffers/
config/micro/targets/

# --- System & OS Junk ---
# Thumbnail cache (don't sync these with your wallpapers)
.thumbnails/
.Thumbnails/
Thumbs.db
Desktop.ini

# Common Linux trash
*~
*.swp
*.tmp
.DS_Store

# --- Git specifics ---
.git/
